/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&none  &kp Q               &kp W           &kp F           &kp P         &kp B        &kp J      &kp L              &kp U            &kp Y            &kp ESCAPE   &none
&none  &ht LEFT_CONTROL A  &ht LEFT_ALT R  &ht LEFT_GUI S  &ht LSHIFT T  &kp G        &kp M      &ht RIGHT_SHIFT N  &ht RIGHT_GUI E  &ht RIGHT_ALT I  &ht RCTRL O  &none
&none  &kp Z               &kp X           &kp C           &kp D         &kp V        &kp K      &kp H              &kp COMMA        &kp DOT          &kp FSLH     &none
                                           &trans          &kp DEL       &kp SPACE    &kp ENTER  &kp BACKSPACE      &to 1
            >;
        };

        numbers-frow-arrow {
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &none
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &none   &none
&none  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10    &kp F11   &kp F12   &kp CAPS  &none      &none   &none
                       &none   &none   &none      &none     &none     &to 0
            >;
        };
    };
};
